---
interface Props {
  class: string;
  title: string;
  subTitle: string;
}
---

<section class={`${Astro.props.class} p-8 min-w-[40%] rounded-xl shadow flex flex-col gap-2 flex-1`}>
  <span class="bg-white/30 rounded-full text-sm px-2 py-1 font-medium w-fit">{Astro.props.subTitle}</span>
  <div class="flex flex-row items-center justify-between">
    <h2 class="font-bold text-2xl">{Astro.props.title}</h2>
    <button class="rounded-lg bg-zinc-950 text-white px-4 py-2">Go</button>
  </div>
  <slot />
</section>
