---
import Card from "./Card.astro";
---

<div class="flex flex-col md:flex-row flex-wrap text-zinc-950 container max-w-5xl mx-auto gap-4 p-8">
  <Card class="bg-blue-400" subTitle="lorem ipsum" title="Laborum qui mollit">
    <p class="max-w-xs">
      Labore officia duis exercitation officia est ut aute consequat.Commodo aliqua exercitation sit dolor qui duis ut
      id elit ex fugiat irure veniam.
    </p>
  </Card>
  <Card class="bg-green-400" subTitle="lorem ipsum" title="Laborum qui mollit">
    <p class="max-w-xs">
      Ea consectetur proident id enim sint labore ullamco consequat ut officia quis.Irure eu voluptate minim nostrud
      cillum non qui est Lorem pariatur ipsum.
    </p>
  </Card>
  <Card class="bg-red-400" subTitle="lorem ipsum" title="Laborum qui mollit">
    <p class="max-w-xs">
      Reprehenderit labore ex proident tempor commodo commodo sunt deserunt ex culpa sit.Velit elit aliquip id quis.
    </p>
  </Card>
  <Card class="bg-yellow-400" subTitle="lorem ipsum" title="Laborum qui mollit">
    <p class="max-w-xs">
      Et elit ullamco laborum Lorem anim ad Lorem.Non sunt ex veniam eiusmod elit consequat anim tempor eu enim ad.
    </p>
  </Card>
</div>
